<!-- Include the sidebar -->
<%- include('partials/sidebar') %>

<div id="pending-container">
    <h1 id="pending-heading">Pending Projects</h1>
    <!-- Table of Pending Projects -->
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Submitter</th>
                <th>Created at</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through pending projects data and populate the table -->
            <% data.forEach(function(project) { %>
            <tr>
                <td><%= project.project_name %></td>
                <td><%= project.submitter_name %></td>
                <td><%= project.submission_time  %></td>
                <td> 
                    <form method="post" action="/activeprojects/add">
                        <% console.log(data); %>
                        <input type="hidden" name="project_id" value="<%= project.id %>">
                        <input type="hidden" name="project_name" value="<%= project.project_name %>">
                        <input type="hidden" name="submitter_name" value="<%= project.submitter_name %>">
                        <button type="submit">Approve</button>
                    </form>
                    
                    <form method="post" action="#">
                        <button type="submit">Reject</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<!-- Include the footer -->
<%- include('partials/footer') %>
