<!-- Include the sidebar -->
<%- include('partials/Usidebar') %>

<div class="dashboard">
    <% 
        let maleTotal = 0;
        let femaleTotal = 0;
        let projectClosed = 0;

        // Debugging logs
        console.log("Passed username:", username);
        console.log("Passed data:", data);

        // Filter user data
        const userProjects = data.filter(project => project.user_name === username);
        console.log("Filtered User Projects:", userProjects);

        const totalParticipants = participants.filter(project => project.submitter_name === username);
        console.log("Filtered participants Projects:", totalParticipants);
        // Calculate totals
        userProjects.forEach(project => {
            projectClosed += parseInt(project.num_project_closures);
        });

        totalParticipants.forEach(project => {
            maleTotal += project.total_male_participants;
            femaleTotal += project.total_female_participants;
        });
    %>

    <div class="card male-participation">
        <div id="spanCardMale"><span class="material-symbols-sharp">man_2</span></div>
        <h2>Male Participation</h2>
        <p>Number of male participants:</p>
        <p><%= maleTotal %></p>
    </div>
    <div class="card female-participation">
        <div id="spanCardFemale"><span class="material-symbols-sharp">woman_2</span></div>
        <h2>Female Participation</h2>
        <p>Number of female participants:</p>
        <p><%= femaleTotal %></p>
    </div>
    <div class="card total-closed-projects">
        <div id="spanCardProject"><span class="material-symbols-sharp">task_alt</span></div>
        <h2>Total Closed Projects</h2>
        <p>Total number of closed projects:</p>
        <p><%= projectClosed %></p>
    </div>

    <div class="table">
        <table id="project-table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Activity Forms</th>
                    <th>Activity Closure</th>
                </tr>
            </thead>
            <tbody>
                <% userProjects.forEach(project => { %>
                    <tr>
                        <td><%= project.project_name %></td>
                        <td><%= project.num_activity_forms %></td>
                        <td><%= project.num_activity_closures %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<!-- Include the footer -->
<%- include('partials/footer') %>
